// [Colors] ==================================

$bgcolor: #f5f5f5;
$default_font: sans-serif;

$browser-context: 16;

$lg: 1170px;
$md: 1024px;
$sm: 640px;
$xs: 480px;

$body-font-size: (null: 16px, $md: 15px, $sm: 14px, $xs: 13px);

$h1-font-size: (null: 64px);
$h2-font-size: (null: 48px);
$h3-font-size: (null: 36px);
$h4-font-size: (null: 30px);
$h5-font-size: (null: 24px);
$h6-font-size: (null: 20px);
$p-font-size: (null: 14px);
$a-font-size: (null: 22px);

//============================================